@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.aboutContainer{
 max-width: 1200px;
 margin: 0 auto;
 position: relative;
 height: 100%;
}
.background {
    font-size: 5rem;
    font-family: 'Montserrat';
    line-height: 1.1;
    color: var(--accent-color);
    position: absolute;
    left: 10px;
    top:100px;
    opacity: 0.1;
    z-index: 1;
    transition: ease-in-out 1s;
  }
.aboutName{
    z-index: 2;
    font-size: 10rem;
    line-height: 0.89;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: -30px;
    transition: ease-in-out 1s;

}
.fullStop{
    color: var(--accent-color);
}
.legendContainer{
    z-index: 2;
    display: flex;  
    justify-content: space-between; 
    flex-direction: row-reverse;
    align-items: flex-end;
    transition: ease-in-out 1s;

}
.smallDesc{
    z-index: 2;
    width: fit-content;
    transform: rotate(-90deg);
    margin-left: -30px;
}
.lineContainer{
    position: absolute;
    height: 130%;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.vertical{
    /* position: absolute; */
    z-index: 1;
    opacity: 0.6;
    border-left: 1px solid black;
    height: 100%;
}
.aboutMain{
    position: relative;
    margin-top: 100px;
}
.section1{
    display: flex;
    align-items: center;
    margin-top: 200px;
}
.summary1{
    margin-top: 10rem;
    z-index: 2;
}
.image1{
    z-index: 2;
    position: relative;
}
.funnyTextContainer{
    position: absolute;
    right: 0;
}
.funnyTextInnerContainer{
    position: relative;
}
.funnyText{
    font-size: 1.1rem;
}
.arrowIcon{
    position: absolute;
    transform: rotateY(185deg) rotate(68deg);
    right: -76px;
    top: 21px;
    scale: 0.8;
}
.arrowIcon path{
    stroke: var(--accent-color);
}
.circleIcon{
    position: absolute;
    top: -20px;
    right: -38px;
    scale: 0.8;
}
.circleIcon path{
    stroke: var(--accent-color);
}
.background2 {
    font-size: 5rem;
    font-family: 'Montserrat';
    line-height: 1.1;
    background-color: var(--accent-color);
    width: 100%;
    height: 300px;
    position: absolute;
    left: 10px;
    top: 300px;
    opacity: 0.1;
    z-index: 1;
    transform:rotate(11deg);
    border-radius: 50px 10px;
  }
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.summary2{
    z-index: 2;
    font-size: 5rem;
    font-family: 'Montserrat';
    line-height: 1.1;
    
}
.background3 {
    font-size: 5rem;
    font-family: 'Montserrat';
    line-height: 1.1;
    color: var(--accent-color);
    position: absolute;
    right: 90px;
    opacity: 0.1;
    z-index: 1;
  }

  .section3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px dotted var(--accent-color); */
    /* border-radius: 50px; */
    margin: 86px 0 0 0;
    padding: 0 8px 4px 0;
    /* background-color: var(--explorer-bg); */
    gap: 16px;
}
.section3 a{
    text-decoration: none;
    color: #fff;
}
.section3 a:hover{
    text-decoration: none;
    color: var(--accent-color);
}
.stroke{
    color: var(--accent-color);
    text-decoration: line-through;
    transition: ease-in-out 1s;
}
.stroke:hover{
    text-decoration: none;
    transition: ease-in-out 1s;
}
.stroke a {
    color: var(--accent-color);
    text-decoration: none;
}
.cat{
    height: 520px;
    transition: ease-in-out 1s;
}

/* media queries */

@media screen and (max-width: 1100px) {
    .cat{
        height: 420px;
    transition: ease-in-out 1s;

    }
}
@media screen and (max-width: 800px) {
    .legendContainer{
        flex-direction: column;
        align-items: center;
    transition: ease-in-out 1s;
        
    }
    .smallDesc{
        transform: rotate(0deg);
    transition: ease-in-out 1s;

    }
    .background {
        font-size: 3.5rem;
        line-height: 0.9;
        transform: rotate(-90deg);
        top: 250px;
        right: -250px;
    transition: ease-in-out 1s;

      }
      .section1 {
        flex-direction: column;
        margin-top: 100px;
    transition: ease-in-out 1s;

      }
      .summary1{
        padding: 0 16px;
        margin-top: 5rem;
    transition: ease-in-out 1s;

      }
      .summary2{
        font-size: 3.5rem;
    transition: ease-in-out 1s;

      }
      .lineContainer{
        height: 115%;
      }
}
@media screen and (max-width: 500px) {
    .legendContainer{
        flex-direction: column;
        align-items: center;
    transition: ease-in-out 1s;

    }
    .cat{
        height: 320px;
    transition: ease-in-out 1s;

    }
    .aboutName{
        font-size: 5rem;
        line-height: 0.89;
        margin-top: -10px;
    transition: ease-in-out 1s;

    }
    .smallDesc{
        transform: rotate(0deg);
        margin-top: 2rem;
    transition: ease-in-out 1s;

    }
    .background {
        font-size: 3.5rem;
        line-height: 0.9;
        transform: rotate(-90deg);
        top: 150px;
        right: -250px;
    transition: ease-in-out 1s;

      }
    .background2 {
        transform: rotate(-90deg);
        right: -250px;
    transition: ease-in-out 1s;

      }
      .section1 {
        flex-direction: column;
        margin-top: 100px;
    transition: ease-in-out 1s;

      }
      .summary1{
        padding: 0 16px;
        margin-top: 5rem;
    transition: ease-in-out 1s;

      }
      .summary2{
        font-size: 2.5rem;
    transition: ease-in-out 1s;

      }
      .lineContainer{
        height: 120%;
      }
      .background3{
        font-size: 2.5rem;
    transition: ease-in-out 1s;

      }
}